.DS_Store
log
*~
.#*
.hgignore
.hg/*
.svn/*

docs
pages

# Node
node_modules
npm-debug.log
.lock-wscript
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

build
swe/build
swe/src/*.a
swe/src/*.o

# Tools
.settings.xml
